@model OperaWebSites.Models.Opera

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h2>Opera Delete</h2>
    <p>Are you sure you want to delete this opera?</p>
    @using (Html.BeginForm("Delete", "Opera", FormMethod.Post))
    {
        <fieldset>
            <!-- para agrupar -->
            <legend> Opera Detail</legend><!-- para Titulo -->
            <div class="display-label">
                <!-- para mostrar el nombre de la propiedad-->
                @Html.DisplayNameFor(model => model.Title)
            </div>
            <div class="display-text">
                <!-- para mostrar el valor-->
                @Html.DisplayFor(model => model.Title)
            </div>
            <div class="display-label">
                <!-- para mostrar el nombre de la propiedad-->
                @Html.DisplayNameFor(model => model.Composer)
            </div>
            <div class="display-text">
                <!-- para mostrar el valor-->
                @Html.DisplayFor(model => model.Composer)
            </div>
        </fieldset>
        <p>
            <input type="submit" value="Delete" />
        </p>
    }
        <p>
            @Html.ActionLink("Back to List", "Index", "Opera")
        </p>
    
</body>
</html>
